{% extends "common_layout.html" %}
{% block title %} Review Film {% endblock %}

{% block container %}

<h1 class="title is-1">Review Film</h1>
<table class="table is-narrow is-hoverable is-bordered">
    <thead><tr>
        <td><b>Titre</b></td>
        <td><b>Année</b></td>
        <td><b>Nombre de Spectateur</b></td>
        <td><b>Genre</b></td>
        <td><b>Realisateur</b></td>
        <td><b>Note</b></td>
        <td><b>Affiche</b></td>
    </thead>
    <tbody>
    {% for titre, annee, nbSpectateur, genre, real, note, affiche in film %}
        <tr>
            <td>{{ titre }}</td>
            <td>{{ annee }}</td>
            <td>{{ nbSpectateur }}</td>
            <td>{{ genre }}</td>
            <td>{{ real }}</td>
            <td>{{ note }}</td>
            <td><img src="{{ url_for('static',filename='{}'.format(affiche) ) }}"></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}