{% extends "common_layout_film.html" %}

{% block head %}
<style>
  /* Custom styles */
  .movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  .movie-card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    background: #fff;
    color: #000;
  }
  .movie-image {
    width: 300px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
  }
  .movie-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

/* Enhanced styles for title and description */
.movie-title {
  font-size: 32px; /* Bigger font size for the title */
  font-weight: bold; /* Make it bold */
  margin-bottom: 10px;
}

.movie-info {
  font-size: 18px; /* Slightly larger than before */
  color: #666; /* A less intense color for less important info */
  margin-bottom: 10px;
}

.movie-description {
  font-size: 16px;
  line-height: 1.6; /* Improve readability */
  color: #333; /* Darker color for better contrast */
  font-style: italic; /* A style to denote commentary */
  background-color: #f8f8f8; /* A light background to highlight the description */
  padding: 15px;
  border-radius: 8px; /* Rounded corners for the description background */
  box-shadow: inset 0 0 10px #eaeaea; /* Inner shadow for some depth */
}

/* Hover effect for the movie card */
.movie-card:hover {
  transform: translateY(-5px); /* Move the card up slightly */
  box-shadow: 0 6px 12px rgba(0,0,0,0.3); /* Stronger shadow for lifted effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Reset the transform on hover out */
.movie-card:not(:hover) {
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

</style>
{% endblock %}

{% block content %}


<div class="movie-container">
  {% for titre, annee, genre, real, note, description, affiche in film %}
  <div class="movie-card">
    <img class="movie-image" src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{affiche}}' alt="{{ titre }} Poster">
    <div class="movie-content">
      <div class="movie-title">{{ titre }}</div>
      <div class="movie-info">{{ annee }} | {{ genre }} | {{ real }} | Rating: {{ note }}</div>
      <p class="movie-description">{{ description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
