{% extends "common_layout.html" %}
{% block title %} Review Film {% endblock %}

{% block container %}

<h1 class="title is-1">Review Film</h1>
<table class="table is-narrow is-hoverable is-bordered">
    <thead><tr>
        <td><b>Titre</b></td>
        <td><b>Année</b></td>
        <td><b>Genre</b></td>
        <td><b>Realisateur</b></td>
        <td><b>Note</b></td>
        <td><b>Description</b></td>
        <td><b>Affiche</b></td>
    </thead>
    <tbody>
    {% for titre, annee, genre, real, note, description, affiche in film %}
        <tr>
            <td>{{ titre }}</td>
            <td>{{ annee }}</td>
            <td>{{ genre }}</td>
            <td>{{ real }}</td>
            <td>{{ note }}</td>
            <td>{{ description }}</td>
            <td><img src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{affiche}}'></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}