{% extends "common_layout.html" %}
{% block title %} Liste de tous les films {% endblock %}
{% block container %}
    <div class="container">
        <header>
            <h1>Nous offrons les films suivant</h1>
        </header>
        <div class="film-grid">
            
            {% for titre, annee, genre, affiche, id in films %}
            
            <div class="film-item">
                <a href="{{ url_for('film', id_film = id ) }}">
                <img src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{affiche}}'>
                <div class="film-info">
                    <h3 class="film-title">{{ titre }}</h3>
                    <p class="film-details">{{ annee }} | {{ genre }}</p>
                </div>
            </a>
            </div>
            
            {% endfor %}
            
        </div>
    </div>

{% endblock %} 
</html>
