{% extends "common_layout.html" %}
{% block title %} Liste des Réalisateurs {% endblock %}

{% block container %}


<h1 class="title is-1">Liste des Réalisateurs</h1>

<table class="table is-narrow is-hoverable is-bordered">
    <thead><tr>
        <td> <b>Id</b> </td>
        <td> <b>Titre</b> </td>
        <td> <b>Année</b> </td>
        <td> <b>Pays</b> </td>
        <td> <b>Sexe</b> </td>
    </tr></thead>
    <tbody>
    {% for id, nom, sexe, popularity, profile in reals %}
        <tr><td>{{ id }}</td><td>{{ nom }}</td><td>{{ sexe }}</td><td>{{ popularity }}</td><td> <img src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{profile}}'> </td></tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}