<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de tous les films</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Nous offrons les films suivant</h1>
        </header>
        <div class="film-grid">
            <div class="film-item">
                <img src="{{ url_for('static', filename='armageddon.png') }}" alt="Armageddon">
                <div class="film-info">
                    <h3 class="film-title">Armageddon</h3>
                    <p class="film-details">1998 | Science Fiction</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='batman.png') }}" alt="Batman Returns">
                <div class="film-info">
                    <h3 class="film-title">Batman Returns</h3>
                    <p class="film-details">1992 | Action</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='wonka.png') }}" alt="wonka">
                <div class="film-info">
                    <h3 class="film-title">Willy Wonka</h3>
                    <p class="film-details">2023 | Fantasy</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='fivenights.png') }}" alt="fivenights">
                <div class="film-info">
                    <h3 class="film-title">Five Nights at Freddys</h3>
                    <p class="film-details">2023 | Horror</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='forestgump.png') }}" alt="Forrest Gump">
                <div class="film-info">
                    <h3 class="film-title">Forrest Gump</h3>
                    <p class="film-details">1994 | Drama</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='gladiator.png') }}" alt="Gladiator">
                <div class="film-info">
                    <h3 class="film-title">Gladiator</h3>
                    <p class="film-details">2000 | Drama</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='jurassicpark.png') }}" alt="Jurassic Park">
                <div class="film-info">
                    <h3 class="film-title">Jurassic Park</h3>
                    <p class="film-details">1993 | Science Fiction</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='lepianiste.png') }}" alt="The Pianist">
                <div class="film-info">
                    <h3 class="film-title">The Pianist</h3>
                    <p class="film-details">2002 | Biography, Drama</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='meninblack2.png') }}" alt="Men in Black II">
                <div class="film-info">
                    <h3 class="film-title">Men in Black II</h3>
                    <p class="film-details">2002 | Action, Comedy</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='terminator.png') }}" alt="The Terminator">
                <div class="film-info">
                    <h3 class="film-title">The Terminator</h3>
                    <p class="film-details">1984 | Action, Sci-Fi</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='jamesbond.png') }}" alt="James Bond">
                <div class="film-info">
                    <h3 class="film-title">James Bond</h3>
                    <p class="film-details">1972 | Action</p>
                </div>
            </div>
            <div class="film-item">
                <img src="{{ url_for('static', filename='titanic.png') }}" alt="Titanic">
                <div class="film-info">
                    <h3 class="film-title">Titanic</h3>
                    <p class="film-details">1997 | Drama, Romance</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
