{% extends "common_layout.html" %}
{% block title %} Liste des affiches {% endblock %}

{% block container %}


<h1 class="title is-1"> Liste des Affiches </h1>

<table class="table is-narrow is-hoverable is-bordered">
    <thead>
        <tr>
            <td> <b>Id</b> </td>
            <td> <b>Nom</b> </td>
        </tr>
    </thead>
    <tbody>
    {% for id, nom, affiche in affiches %}
        <tr> <td>{{ id }}</td> <td>{{ nom }}</td> <td><img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{ affiche }}"></td> </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}