{% extends "common_layout.html" %}
{% block title %} Liste des nouveaux films {% endblock %}

{% block container %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template</title>
</head>
<body>
    <h1>Vue Insertion</h1>
    <form action="{{ url_for('traiter_formulaire') }}" method="post">
        <label for="nom_film">Nom du film :</label>
        <input type="text" id="nom_film" name="nom_film" required>
        <label for="nom_real">Nom du réalisateur :</label>
        <input type="text" id="nom_real" name="nom_real" required>
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>

{% endblock %}