@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    background: white; 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    text-align: center;
    padding: 20px 0;
    margin: 0;
    user-select: none;
}

.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 15px;
    justify-content: center;
    padding: 20px;
}

.film-item {
    position: relative;
    transition: transform 0.3s ease;
}

.film-item:hover {
    transform: scale(1.1);
    z-index: 10;
}

.film-item img {
    width: 100%;
    border-radius: 4px;
}

.film-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease;
}

.film-item:hover .film-info {
    visibility: visible;
    opacity: 1;
}

.film-title {
    font-size: 1rem;
    margin: 0;
}

.film-details {
    font-size: 0.8rem;
    margin: 5px 0 0;
}

.navbar {
    background-color: #333; 
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.navbar-brand img {
    height: auto; 
    max-height: 120px;
    width: auto;
}

.navbar .input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    margin-left: 1rem;
    width: 100%;
    max-width: 400px;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 1rem; /* Adjust as needed for spacing */
}

.input {
    padding: 0.5rem;
    border: 2px solid #333; /* Style as needed */
    border-radius: 4px;
    margin-right: 0.5rem; /* Space between input and button */
}

.search-button {
    padding: 0.5rem 1rem;
    background-color: #007bff; /* Example blue color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-button:hover {
    background-color: #0056b3; /* Darker shade for hover state */
}
